<h1>Articles</h1>
<% @articles.each do |article| %>
<ul>
    <li>
    <%= link_to article.title.capitalize, article_path(article) %>
    <%= link_to edit_article_path(article) do %>
        <i class="far fa-edit"></i>
    <% end %>
    <%= link_to article_path(article),
    method: :delete,
    data: { confirm: "Are you sure you want to delete #{article.title}"} do %>
        <i class="fa fa-trash-o" aria-hidden="true"></i>
    <% end %>
    </li>
</ul>
<% end %>

<hr>

<%= link_to 'Add new article', new_article_path %>